p > code {
	background: rgba(27,31,35,.05);
	border: 1px solid #ddd;
	font-size: .9em;
	padding: 1px 3px;
	border-radius: 2px;
	color: rgb(177, 38, 38);
}

pre > code {
	border: none;
	background: none;
	font-size: .8em;
}

blockquote {
	border-left: 3px solid #b44;
	background: rgba(27,31,35,.05);
	padding-left: 1rem;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 1rem;
}

pre, code {
	max-width: 100%;
}