.ticket {
	margin-top: 1.5em;
}
.traclink {
	position: absolute;
	top: .75em;
	left: 1.5em;
}
.traclink svg {
	margin-left: 7px;
}
.close-modal {
	position: absolute;
	top: 4px;
	right: 4px;
	background: none;
	border: none;
	padding: 0;
	color: #555;
	cursor: pointer;
	font-size: 1em;
}
.close-modal svg.fa-times {
	width: 25px;
	height: 25px;
}

@media (max-width: 980px) {
	.close-modal {
		top: 4px;
		right: 4px;
	}
	.traclink {
		left: 0;
	}
}