.ticket-properties {
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1rem;
	line-height: 1.8em;
}
.ticket-header h2 {
	margin-top: 0;
	flex: 4 0 0;
}
.ticket-header .ticket-trac-link {
	flex: 1 0 0;
	text-align: right;
}
.ticket-subheader > div {
	padding-right: 1em;
}
.ticket-taxonomy,
.ticket-taxonomy > div,
.ticket-people > div {
	display: flex;
	flex-flow: row wrap;
}
.ticket-people > div > div,
.ticket-taxonomy > div > div {
	flex: 1;
	width: 50%;
}
.btn.trac-link {
	border: 1px solid #0073aa;
	background: #0073aa;
	color: #fff;
	border-radius: 5px;
	padding: .4em .5em;
	word-wrap: none;
}
.btn.trac-link .fa-external-link-alt {
	margin-bottom: 2px;
	margin-left: 5px;
	font-size: .8em;
}
.ticket-people img {
	vertical-align: top;
	margin: 0 10px;
}
.ticket-taxonomy > div {
	width: 50%;
	border-bottom: 1px solid #efefef;
}
.property-label {
	font-weight: bold;
}
.property-value span {
	margin-right: 10px;
	display: inline-block;
}

@media (max-width: 800px) {
	.ticket-properties > *{
		width: 100%;
		flex-shrink: 0;
	}
	.ticket-people,
	.ticket-taxonomy,
	.ticket-subheader {
		flex-flow: column;
		width: 100%;
	}
	.ticket-people > *,
	.ticket-taxonomy > * {
		flex: 1;
	}
	.ticket-taxonomy > div,
	.ticket-subheader > div {
		width: 100%;
	}
}