body {
  background: #fff;
  font-size: 16px;
  color: #111;
}

a {
    color: #21759b;
    text-decoration: none;
    font-weight: normal;
}

img {
  max-width: 100%;
}

/* flex layouts */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}




.title {
  font-size: 1.8em;
  margin-top: 0;
}
.title .beta {
  font-size: .5em;
  font-style: italic;
}
.search-bar {
  padding: 1em;
}

.selected-filters {
  padding: 0 1em;
}

.sidebar {
  background: #0073AA;
  color: #fff;
	padding: 1rem;
  width: 300px;
  height: 100vh;
  left: 0;
  position: fixed;
}

.results-container {
  width: calc(100% - 300px);
}


.status-list li {
  float: left; 
  margin-right: 10px;
  display: inline-block;
}

mark {
  background: rgb(253, 253, 195);
}

mark::before, 
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

.ReactModal__Overlay {
  background: rgba(100,100,100,.7) !important;
  overflow: scroll;
}

.ReactModal__Content {
  background: #fff;
  max-width: 960px;
  margin: 2em auto;
  padding: 1.5em;
}

body.ReactModal__Body--open {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
  }
  .results-container {
    width: 100%;
    margin-top: 100px;
  }
  .hidden {
    display: none;
  }
  h1.title {
    margin-bottom: 0;
  }
  .ReactModal__Content {
    margin: 0;
    width: calc(100% - 3em);
    padding-top: 2em;
  }
}