body {
  background: #fff;
  font-size: 16px;
  color: #111;
}

a {
    color: #21759b;
    text-decoration: none;
    font-weight: normal;
}

img {
  max-width: 100%;
}

/* flex layouts */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}


.search-bar {
  padding: 1em;
}
.search-bar input {
  font-size: 16px;
}

.selected-filters {
  padding: 0 1em;
}

.results-container {
  width: calc(100% - 300px);
}

.status-list li {
  float: left; 
  margin-right: 10px;
  display: inline-block;
}

mark {
  background: rgb(253, 253, 195);
}

mark::before, 
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

.ReactModal__Overlay {
  background: rgba(100,100,100,.7) !important;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
}

.ReactModal__Content {
  background: #fff;
  max-width: 960px;
  margin: 2em auto;
  padding: 1.5em;
}

body.ReactModal__Body--open {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .ReactModal__Content {
    margin: 0;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .results-container {
    width: 100%;
    margin-top: 70px;
  }
}